{% extends "base.html" %}

{% block title %}Courses List {{ course['coursename'] }}{% endblock %}

{% block content %}
<h1>{{course['name']}} - {{ rating }}/5.0</h1>
<h2>{{course['major']}}</h2>
<h2>{{course['profs']}}</h2>
<p>{{course['description']}}</p>
<h1>Reviews:</h1>
<ul>
{% for review in reviews %}
  <li>
    <h2>{{ review.name }} - {{ review.rating }}/5</h2>
    <p>{{ review.text }}</p>
  </li>
{% endfor %}
</ul>
<h1>Leave a Review:</h1>
<form name="review" class="reviewForm" action="{{ request.path }}" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Optional">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="review">Review</label>
    <textarea required rows="7" cols="30" name="review"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit Review</button>
</form>
{% endblock %}
